@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.proyecto-visible {
    @apply !opacity-100 !translate-x-0;
}

    /* Animación para la cinta de texto infinita */
@keyframes scroll-infinito {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } 
}

.animacion-cinta {
    display: flex;
    width: max-content;
    animation: scroll-infinito 25s linear infinite;
}

/* Pausar la animación si el usuario pasa el mouse por encima (opcional pero elegante) */
.animacion-cinta:hover {
    animation-play-state: paused;
}